#loginForm p{
    font-size: 14px;
    opacity: 0.8;
}
.login-wrap form {
    margin-top: 32px;
}

.login-wrap .login-box form a#ancForgetPassword {
    color: #666;
    font-size: 13px;
    font-weight: 500;
}

.login-wrap {
    /*height: 70vh;
    width: 100vw;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F4F8FB;
    margin-top: 30px;
    padding: 80px 0;
    min-height:500px;
}

    .login-wrap .signup-box,
    .login-wrap .login-box {
        background-color: #ffffff;
        /*width: 530px;
    height: 335px; */
        padding: 50px 42px;
        margin: 0 auto;
        box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.06);
        border-radius: 10px;
    }

        .login-wrap .login-box h1 {
            color: #112950;
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            margin-bottom: 20px;
        }

        .login-wrap .login-box form .form-group {
            margin: 0;
            margin-bottom: 10px;
            position:relative;
        }

            .signup-wrap .signup-box form .form-group label,
            .login-wrap .login-box form .form-group label {
                color: #112950;
                font-size: 14px;
                font-weight: 500;
                line-height: 19px;
                margin-bottom: 0px;
            }

        .signup-wrap .signup-box form .form-group input:focus,
        .login-wrap .login-box form input:focus {
            outline: none !important;
            /*font-weight: 600;*/
            box-shadow: 0px 0 0 0 !important;
        }

        .login-wrap .signup-box form .form-group input,
        .login-wrap .login-box form .form-group input {
            background-color: #FFFFFF;
            border: 0px solid #E0E6ED;
            width: 100% !important;
            height: 100%;
            margin: 0;
            border-bottom: 2px solid #E0E6ED;
            font-size: 14px;
            outline: none;
            padding: 15px 29px;
        }

#social-login-section .login-social-widget span {
    margin: 0 5px;
}

.signup-box input[type=button],
.login-wrap .login-box form input[type="button"] {
    margin-top: 20px;
    padding: 10px 0;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.signup-wrap .signup-box .txt1.text-center.p-t-54.p-b-20,
.login-wrap .login-box .txt1.text-center.p-t-54.p-b-20 {
    font-size: 14px;
    line-height: 1.5;
    color: #666;
    padding-bottom: 10px;
    padding-top: 30px;
    font-weight: 500;
}

.sign-up-nav-link span {
    font-size: 14px;
    line-height: 1.5;
    color: #666;
}

.login-wrap .login-box form span {
    margin-top: 30px;
    color: #112950;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

    .login-wrap .login-box form span small {
        color: #3085FF;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        opacity: 0.5;
        margin-left: 20px;
    }

        .login-wrap .login-box form span small:hover {
            cursor: pointer;
            opacity: 0.8;
        }

label.error {
    color: white !important;
    font-size: 12px !important;
    position: relative !important;
    display: block;
    /* line-height: 0 !important; */
    top: 5px !important;
    float: right;
    background-color: #f90000bf !important;
    padding: 2px 10px;
    border-radius: 2px;
}

    label.error:before {
        content: "\f0d8";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        top: -11px;
        color: #f90000bf;
        right: 16px;
        font-size: 16px;
    }

.login-wrap .login-box form .form-group input.error,
.signup-wrap .signup-box form .form-group input.error {
    border-bottom: 2px solid #f90000;
}

.login-wrap .login-box form .form-group input.valid,
.signup-wrap .signup-box form .form-group input.valid {
    border-bottom: 2px solid #22a900;
}

.manual-marginright {
    margin-right: 36px !important;
}

.spnCountryCode {
    position: absolute;
    top: 10px;
    left: 25px;
}
#customermobile {
    padding-left: 60px;
    // position: absolute;
} 

#CharecterWrapper { 
    visibility:hidden;
}

@media (max-width: 500px) {
    .login-wrap .login-box {
        width: 90%;
        height: auto;
        padding: 30px;
        margin-top: 50px;
    }
}

@media (max-width: 330px) {
    .login-wrap .login-box {
        width: 94%;
        height: auto;
        padding: 15px;
        margin-top: 60px;
    }
}
// New css and html & Bootstrap ---->
.fa-phone{
    position: absolute;
    /* pointer-events: visiblefill; */
    top: 58%;
}