 <!-- END of fixed call and chat buttons -->
 <section class="about-us">
  <div class="intro">
      <div class="container">
          <div class="row">
              <div class="col-12 col-md-5">
                  <h1>About us</h1>
              </div>
              <div class="col-12 col-md-7">
                  <p>Colive is a technology enabled network of fully- managed rental homes. These ready-to-move in homes are conveniently located in close proximity to IT parks and business hubs.</p>
                  <p class="aboutustxt">Designer rooms with chic designs, contemporary interiors & thoughtfully designed spaces, Colive homes are equipped with modern tech enabled safety features.</p>
                  <div class="empty-space"></div>
                  <p class="aboutustxt">
                      All homes are fully serviced & professionally managed while offering flexible & affordable options suitable for urban living.
                  </p><div class="empty-space"></div>
                  <p class="aboutustxt">Home to 20,000+ single professionals & young couples Colive Community comprises of members with diverse backgrounds, experiences with mutual interests. </p>
              </div>
          </div>
      </div>
  </div>

  <div class="our-team visionMission">
      <div class="container">
          <div class="row">
              <div class="col-12 col-md-6">
                  <h1>Vision</h1>
                  <p class="aboutustxt">To establish Colive as India’s No.1 Coliving brand offering technology enabled, fully-managed rental homes to a community of like-minded millennial with premium amenities & living spaces that inspire a sense of Collaboration.</p>
              </div>
              <div class="col-12 col-md-6">
                  <h1>Mission </h1>
                  <p class="aboutustxt">
                      Offer Colive residents to upgrade lifestyle with chic designs and contemporary interiors, premium amenities and hassle-free living .
                      With a customer centric approach and real estate DNA Colive aims to build automated processes and leverage technology which will help in scaling the business.
                      Build the brand on the power of Co- Community and social togetherness which is the core principle of Colive.
                  </p>
              </div>
          </div>
      </div>
  </div>

  <div class="banner">
      <div class="container">
          <div class="count-wrap">
              <p>The idea behind Colive is to bring an experience that is more than a home for it's 8000+ members.</p>
              <div class="countings">
                  <div class="beds">
                      <p>20,000+</p>
                      <span>Number of beds</span>
                  </div>
                  <div class="totalproperties">
                      <p>150+</p>
                      <span>Total properties</span>
                  </div>
                  <div class="area">
                      <p>3.5 mn sq.ft</p>
                      <span>Area under management</span>
                  </div>
                  <div class="cities">
                      <p>3</p>
                      <span>Cities</span>
                  </div>
                  <div class="assets">
                      <p>2,000 Cr</p>
                      <span>Assets under management</span>
                  </div>
                  <div class="companies">
                      <p>225+</p>
                      <span>Corporates</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="our-6">
      <div class="container">
          <div class="row">
              <div class="col-12 col-md-5">
                  <h1>Our 6s</h1>
                  <p>Colive makes 6 promises to all Colive Residents </p>
                  <div class="our-6-p">
                      <p class="aboutustxt">Colive amenities &  offerings across all Locations & Properties.</p>
                      <p>Experience the Colive way of life with Stylish Rooms, Modern Safety Features, Serviced Homes with great savings and enjoy a vibrant social life with the fun & young Colive Community.  </p>
                  </div>
              </div>
              <div class="col-12 col-md-7">
                  <div class="icon-box-wrap">
                      <div class="icon-box">
                          <div>
                              <img src="../../../../assets/images/about-style.svg" alt="">
                              <p>Style</p>
                          </div>
                      </div>
                      <div class="icon-box">
                          <div>
                              <img src="../../../../assets/images/about-safety.svg" alt="">
                              <p>Safety</p>
                          </div>
                      </div>
                      <div class="icon-box">
                          <div>
                              <img src="../../../../assets/images/about-service.svg" alt="">
                              <p>Service</p>
                          </div>
                      </div>
                  </div>
                  <div class="icon-box-wrap">
                      <div class="icon-box">
                          <div>
                              <img src="../../../../assets/images/about-social.svg" alt="">
                              <p>Social</p>
                          </div>
                      </div>
                      <div class="icon-box">
                          <div>
                              <img src="../../../../assets/images/about-smart.svg" alt="">
                              <p>Smart</p>
                          </div>
                      </div>
                      <div class="icon-box">
                          <div>
                              <img src="../../../../assets/images/about-savings.svg" alt="">
                              <p>Savings</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="our-team topsectopDiv" style="padding-bottom: 0px;">
      <div class="container">
          <h1 class="d-none d-lg-none d-md-none d-block d-xs-block"> Our team</h1>
          <div class="row">
              <div class="col-12 col-md-6 pt-5">
                  <h1 class="d-none  d-xs-none d-lg-block d-md-block "> Our team</h1>
                  <div class="col-12 d-none d-lg-none d-md-none d-block d-xs-block">
                      <div class="image-our-t">
                          <img src="../../../../assets/images/SRK.png" class="img-fluid" />
                      </div>
                  </div>
                  <div class="quote">
                      <p>Suresh Rangarajan K (SRK) is a passionate & intense start-up professional. One of the early adopters of the internet world, he was part of the founding team of Citi-Times JV TimesOfMoney.com. </p>
                      <div class="user-info">
                          <p class="user-name">Suresh Rangarajan </p>
                          <span>Founder</span>
                      </div>
                  </div>
                  <p>Under his enterprising leadership, remit2india.com went on to become the world’s #1 online money transfer portal & one of the most successful internet businesses in India. </p><div class="empty-space"></div>
                  <p>SRK then founded an innovative real estate enterprise called Artha. The highlights of his stint at Artha includes the path breaking Start-up City & Knowledge Park – Emprasa. Combining his experience in banking, internet & real estate, SRK founded Colive to solve the housing challenges faced by millennials while offering a new asset class of Buy-to- let properties for investors. </p> <div class="empty-space"></div>
              </div>
              <div class="col-12 col-md-6  col-md-6 d-none  d-xs-none d-lg-block d-md-block ">
                  <div class="image-our-t">
                      <img src="../../../../assets/images/SRK.png" class="img-fluid" />
                  </div>
              </div>
              <div class="col-lg-12 col-12"> <div class="empty-space"></div>
                  <p>SRK was conferred the prestigious Udyog Rattan award and WCRC and Ernst & Young also awarded him the “Trend Setter in Real Estate”. SRK is a Chartered Accountant and a alumnus of Yale School of Management.</p>
              </div>
          </div>
      </div>
  </div>
  <div class="our-team" style="padding-top: 50px; padding-bottom:0px;">
      <div class="container">
          <div class="row">
              <div class="col-12 col-md-6">
                  <div class="image-our-t">
                      <img src="../../../../assets/images/AKS.png" class="img-fluid"/>
                  </div>
              </div>
              <div class="col-12 col-md-6 pt-5">
                  <div class="quote">
                      <p>Arun Kumar Singh (AKS) has worked in the Indian Equity Markets for over 2 decades which provided him a ring side view of the transformation of Indian economy.</p>
                      <div class="user-info">
                          <p class="user-name">ARUN K SINGH </p>
                          <span>Co-founder</span>
                      </div>
                  </div>
                  <!--<p>Suresh Rangarajan K (SRK) is a passionate & intense start-up professional. One of the early adopters of the internet world, he was part of the founding team of Citi-Times JV TimesOfMoney.com.</p>-->
              </div>
          </div>
      </div>
  </div>
  <div class="leadership-team">
      <div class="container">
          <h3>Leadership team</h3>
          <div class="row">

              <div class="col-12 col-md-3">
                  <div class="team-card">
                      <div class="team-card-img">
                          <img src="../../../../assets/images/Saurav-Swami.png" class="img-fluid" />
                      </div>
                      <div class="team-detail">
                          <p class="name">Sourav Swami</p>
                          <p class="designation">VP Alliances</p>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-md-3">
                  <div class="team-card">
                      <img src="../../../../assets/images/ArnabKarmakar.png" class="img-fluid" />
                      <div class="team-detail">
                          <p class="name">Arnab Karmakar</p>
                          <p class="designation">Operations</p>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-md-3">
                  <div class="team-card">
                      <img src="../../../../assets/images/Archisman-Sarka.png" class="img-fluid" />
                      <div class="team-detail">
                          <p class="name">Archisman Sarkar</p>
                          <p class="designation">Product & Automation</p>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-md-3">
                  <div class="team-card">
                      <img src="../../../../assets/images/Harsha-Shetty.png" class="img-fluid" />
                      <div class="team-detail">
                          <p class="name">Harsha Shetty</p>
                          <p class="designation">Finance</p>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-md-3">
                  <div class="team-card">
                      <img src="../../../../assets/images/Narendra-Reddy.png" class="img-fluid" />
                      <div class="team-detail">
                          <p class="name">Narendra Reddy</p>
                          <p class="designation">Transformation</p>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-md-3">
                  <div class="team-card">
                      <img src="../../../../assets/images/Gautam-Kin.png" class="img-fluid" />
                      <div class="team-detail">
                          <p class="name">Gautam Kini</p>
                          <p class="designation">Marketing</p>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-md-3">
                  <div class="team-card">
                      <img src="../../../../assets/images/Siva-Kumar.png" class="img-fluid" />
                      <div class="team-detail">
                          <p class="name">Sivakumar</p>
                          <p class="designation">Technology</p>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-md-3">
                  <div class="team-card">
                      <img src="../../../../assets/images/Vivek-Anand.png" class="img-fluid" />
                      <div class="team-detail">
                          <p class="name">Vivek Anand</p>
                          <p class="designation">Sales</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <hr>
  </div>
</section>

<!-- site footer include -->
<div class="footer include" id="site-footer" data-include="footer"></div>

<!-- model popup -->
<div class="modal" id="video-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
      <div class="container" id="divLocationMenus">
          <!-- HERE ADD Menus -->
          <div class="CityList" id="CityList">

          </div>
      </div>
      <button class="modal-close is-large" id="btnClose" aria-label="close">
          <svg version="1.1" class="svgClose" id="closeLoc" style="transform:rotate(270deg);" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 31.49 31.49" xml:space="preserve"><path d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587	c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"></path></svg>
      </button>

  </div>
</div>