




<!-- <div class="home">
  <h1>iam in home component...</h1>
</div> -->
 <!-- END of fixed call and chat buttons -->
 <div class="container community">
  <div class="row">
      <div class=" col-md-4">
          <h1 class="Community">Community</h1>
      </div>
      <div class=" col-md-8">
          <p class="At_CoLive">Colive Community is warm, embracing and an inclusive group of fun & young people</p>
          <div class="lorem-ipsum-dolor-si">
              <p class="dolor-si mt-4">People for diverse backgrounds, experiences & journeys peacefully co-exist, co-living and sharing common utilities </p>
              <div class="empty-space"></div>
              <p class="dolor-si">They come together at meet & greet events,  celebrate important days, create new memories everyday</p>
              <div class="empty-space"></div>
              <p class="dolor-si ">Community events like - Live Barbeque, Beer Pong, Stand-up Comedy, Virtual Reality, Masquerade & more  </p>
              <div class="empty-space"></div>
              <p class="dolor-si mb-4">Celebrating Important Community occasions - Birthdays, Anniversaries, Home Coming Parties, Christmas, Holi, Eid, Diwali & more  </p>
          </div>
          <div class="row amet">
              <div class="col col-lg-2">
                  <p class="Engineers">500+</p>
                  <p class="tempor">Engineers</p>
              </div>
              <div class="col col-lg-2">
                  <p class="designers">80+</p>
                  <p class="sed">Designers </p>
              </div>
              <div class="col col-lg-2">
                  <p class="designers">70+</p>
                  <p class="sed">Lawyers+</p>
              </div>
              <div class="col col-lg-2">
                  <p class="designers">400+</p>
                  <p class="sed">Developers</p>
              </div>
          </div>
          <button class="btn btn-outline-success my-4"><a href="/Bangalore?lat=12.989991&amp;long=77.645392&amp;rad=1&amp;loc=Bangalore"><b>View Properties</b></a></button>
      </div>
  </div>

   <!-- Photo Grid -->
   <div class="row">
    <div class="col-md-3">
        <img class="card-img-top" src="../../../../assets/images/IMG_4092-01.jpg" alt="Card image cap">
    </div>
    <div class="col-md-3">
        <img class="card-img-top-panel" src="../../../../assets/images/IMG_4092-02.jpg" alt="Card image">
        <img class="card-img-top mt-4" class="img-panel" src="../../../../assets/images/Bitmap (10).png" alt="Card image">
    </div>
    <div class="col-md-3">
        <img class="card-img-top image_height" src="../../../../assets/images/IMG_4092-03.jpg" alt="Card image">
    </div>
    <div class="col-md-3">
        <img class="card-img-top-panel" src="../../../../assets/images/IMG_4092-04.jpg" alt="Card image">
        <img class="card-img-top mt-4" class="img-panel" src="../../../../assets/images/IMG_4092-05.jpg" alt="Card image">
    </div>
</div>
</div>
<div class="container-fluid" id="dvEventsContainer">
<div class="container magna">
    <div class="row">
        <div class=" col-md-7 my-5">
            <p class="upcoming-events">Upcoming-Events</p>
            <p class="come-and-experience my-3">Come and Experience the community at Colive</p>
        </div>
        <div class=" col-md-4 my-5 d-none">
            <div class="inner-addon right-addon">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" class="form-control" placeholder="Search" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-deck" id="upComingEvents">
        </div>

        <div class="card-deck adjustheight" style="display:none;" id="Events">

        </div>
        <h5 class="similarProperty adjustheight" style="display:none;" id="txtpastevents">Past Events</h5>
        <hr class="Events adjustheight" id="hrevents" style="display:none;" />
        <div class="card-deck adjustheight" style="display:none;" id="dvPastEvents">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 my-5">
            <button type="button" class="btn login-btn btn-secondary explore" id="btnExplore">Explore all</button>
        </div>
    </div>
</div>
</div>
<div class="container-fluid main">
<div class="container Check_out">
    <div class="row out">
        <div class=" col-md-8 col-sm-8 my-4">
            <p class="want-to-be-a-part-of my-2">Want to be a part of our community?</p>
            <p class="check-out-our-propoe">Check-out our propoerities, and find what best fits your needs!</p>
        </div>
        <div class=" col-md-4 my-5">
            <button type="button" class="btn login-btn btn-secondary_connect">
                <a href="/Bangalore?lat=12.989991&long=77.645392&rad=1&loc=Bangalore">View our Locations</a>
            </button>
        </div>
    </div>
</div>
</div>